<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="server" value="127.0.0.1" />
        <add key="port" value="8080" />
		<add key="download_dir" value="c:\users\USER\Desktop\" />
		<add key="upload_dir" value="c:\users\USER\Desktop\" />
    </appSettings>
</configuration>